@font-face {
  font-family: Acrom;
  src: url(../fonts/Acrom/acrom900.otf);
  font-weight: 800;
}

@font-face {
  font-family: Acrom;
  src: url(../fonts/Acrom/acrom800.otf);
  font-weight: 700;
}

@font-face {
  font-family: Acrom;
  src: url(../fonts/Acrom/acrom600.otf);
  font-weight: 500;
}

@font-face {
  font-family: Acrom;
  src: url(../fonts/Acrom/acrom400.otf);
  font-weight: 400;
}

@font-face {
  font-family: Acrom;
  src: url(../fonts/Acrom/acrom300.otf);
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-Thin.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-Italic.ttf);
  font-style: italic;
}

.header-menu__nav .toggler-icon {
  display: none;
}

.header-menu__nav .nav-bar {
  margin: 0;
  padding: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__nav .nav-bar .nav-item {
  position: relative;
  list-style: none;
  margin-right: 40px;
}

.header-menu__nav .nav-bar .nav-item::after {
  margin: 0 auto;
  -webkit-transform: translateY(-27px);
  transform: translateY(-27px);
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #bfd730;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-menu__nav .nav-bar .nav-item:hover::after {
  width: 100%;
}

.header-menu__nav .nav-bar .nav-item .nav-link {
  padding: 0;
  text-decoration: none;
  font-size: 17px;
  font-weight: 300;
  color: #ecf0e8;
}

@media only screen and (max-width: 1199px) {
  .header-menu__nav .nav-bar .nav-item {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .header-menu__nav .nav-bar .nav-item {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .header-menu__nav .toggler-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
  }
  .header-menu__nav .toggler-icon div {
    width: 20px;
    height: 2px;
    background: #fff;
    margin-top: 4px;
    -webkit-transition: all, 0.7s;
    transition: all, 0.7s;
  }
  .header-menu__nav .toggler-icon div:first-child {
    margin-top: 0;
  }
  .header-menu__nav .toggler-icon div:nth-child(2) {
    background: #bfd730;
  }
  .header-menu__nav .toggler-icon_close div {
    width: 20px;
    height: 2px;
    background: #fff;
    margin-top: 4px;
  }
  .header-menu__nav .toggler-icon_close div:first-child {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
  }
  .header-menu__nav .toggler-icon_close div:nth-child(2) {
    margin-top: -2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #bfd730;
    z-index: 0;
  }
  .header-menu__nav .toggler-icon_close div:last-child {
    display: none;
  }
  .header-menu__nav .nav-bar {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  .header-menu__nav .nav-bar .nav-item {
    margin: 0 auto;
    margin-top: 36px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .header-menu__nav .nav-bar .nav-item:hover::after {
    width: 0;
  }
  .header-menu__nav .nav-bar .nav-item .nav-link {
    font-family: Acrom;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all, .3s;
    transition: all, .3s;
  }
  .header-menu__nav .nav-bar .nav-item .nav-link:hover {
    color: #bfd730;
  }
}

.nav-bar_show {
  display: block !important;
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.nice-select:hover {
  border-color: #dbdbdb;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999;
}

.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.nice-select.open:after {
  transform: rotate(-135deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #cccccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(-21px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 720px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 500px;
  }
}

@media only screen and (max-width: 520px) {
  .container {
    width: 290px;
  }
}

.header {
  position: relative;
  width: 100%;
}

.header-slider {
  outline: none;
  width: 100%;
}

.header-slider__slide {
  outline: none;
  width: 100%;
  height: 800px;
  padding-top: 275px;
  background: url(../img/slider__bg.jpg) no-repeat center/cover;
}

.header-slider__slide .slide-content {
  margin-left: 179px;
  padding-left: 55px;
  height: 213px;
  width: 750px;
  border-left: 6px solid #8dc63f;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header-slider__slide .slide-content h2 {
  font-family: Acrom;
  font-size: 65px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}

.header .slider-nav {
  z-index: 5;
  width: 1170px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  top: 297px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.header .slider-nav img {
  cursor: pointer;
  height: 7px;
}

.header .slider-nav .arrow-prev {
  margin-left: 253px;
  margin-right: 70px;
}

.header .slider-nav .slider-count {
  -webkit-transform: translate(-78px, -25px);
  transform: translate(-78px, -25px);
  font-family: Acrom;
}

.header .slider-nav .slider-count p {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

.header .slider-nav .slider-count p span {
  font-size: 23px;
}

.header .slider-nav .slider-count p #current {
  color: #8dc63f;
}

.header .mouse {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 40px;
}

.header .mouse:hover {
  -webkit-filter: brightness(-1000%);
  filter: brightness(-1000%);
}

.header .header-rectangles {
  width: 1170px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 172px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.header .header-rectangles__cover {
  height: 540px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .header-rectangles__cover .header-rectangles__block {
  position: relative;
}

.header .header-rectangles__cover .header-rectangles__block div {
  position: absolute;
  width: 18px;
  height: 18px;
}

.header .header-rectangles__cover .header-rectangles__block .rectangles_green {
  background: #8dc63f;
}

.header .header-rectangles__cover .header-rectangles__block .rectangles_white {
  background: #fff;
}

.header .header-rectangles__cover .header-rectangles__block_left_top div:nth-child(1) {
  -webkit-transform: translate(85px, 25px);
  transform: translate(85px, 25px);
}

.header .header-rectangles__cover .header-rectangles__block_left_top div:nth-child(2) {
  display: none;
}

.header .header-rectangles__cover .header-rectangles__block_left_bottom div:nth-child(1) {
  -webkit-transform: translate(16px, -26px);
  transform: translate(16px, -26px);
}

.header .header-rectangles__cover .header-rectangles__block_left_bottom div:nth-child(2) {
  margin-left: 35px;
}

.header .header-rectangles__cover .header-rectangles__block_right_top div {
  -webkit-transform: translateX(-33px);
  transform: translateX(-33px);
}

.header .header-rectangles__cover .header-rectangles__block_right_bottom div:nth-child(1) {
  -webkit-transform: translate(-33px, -63px);
  transform: translate(-33px, -63px);
}

.header .header-rectangles__cover .header-rectangles__block_right_bottom div:nth-child(2) {
  -webkit-transform: translate(-60px, -30px);
  transform: translate(-60px, -30px);
}

.header .header-rectangles__cover .header-rectangles__block_right_bottom div:nth-child(3) {
  -webkit-transform: translate(-60px, 0);
  transform: translate(-60px, 0);
}

.header-menu {
  position: absolute;
  z-index: 7;
  width: 100%;
  top: 20px;
  left: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu__logo {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-left: 30px;
}

.header-menu__logo img {
  width: 117px;
}

.header-menu__logo span {
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  width: 90px;
}

.header-menu .header-cover {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu__select {
  background: transparent;
  border: 1px solid #bfd730;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  padding: 0;
  font-size: 17px;
  font-weight: 300;
  color: #ecf0e8;
}

.header-menu__select .list {
  background: transparent;
  width: 32px;
}

.header-menu__select .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  font-size: 17px;
  font-weight: 300;
  color: #ecf0e8;
}

.header-menu__select .option:hover, .header-menu__select .option.focus, .header-menu__select .option.selected.focus {
  background: rgba(190, 214, 47, 0.3);
}

.header-menu__select:after {
  display: none;
}

.header-menu__select:hover, .header-menu__select:active, .header-menu__select.nice-select.open, .header-menu__select:focus {
  border: 1px solid #bfd730;
}

.header-menu__search-box {
  position: relative;
  margin-right: 44px;
  margin-left: 31px;
}

.header-menu__search-box .search-box__icon {
  cursor: pointer;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.header-menu__search-box .search-box__content {
  position: absolute;
  top: 39px;
  left: -310px;
  display: none;
  background: rgba(255, 255, 255, 0.5);
  padding: 15px;
}

.header-menu__search-box .search-box__content input {
  width: 210px;
  border: none;
  background: transparent;
  outline: none;
  font-family: Acrom;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  margin-right: 70px;
}

.header-menu__search-box .search-box__content input::-webkit-input-placeholder {
  color: #fff;
}

.header-menu__search-box .search-box__content input:-ms-input-placeholder {
  color: #fff;
}

.header-menu__search-box .search-box__content input::-ms-input-placeholder {
  color: #fff;
}

.header-menu__search-box .search-box__content input::placeholder {
  color: #fff;
}

.header-menu__search-box .search-box__content .close-search {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
  cursor: pointer;
}

.header-menu__search-box .search-box__content .close-search div {
  width: 15px;
  height: 2px;
}

.header-menu__search-box .search-box__content .close-search div:first-child {
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 3;
}

.header-menu__search-box .search-box__content .close-search div:last-child {
  background: #bfd730;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -1.5px;
  z-index: 2;
}

.header-menu__search-box .search-box__content_show {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/mask.png);
  display: none;
  z-index: 5;
}

.mask_show {
  display: block;
}

@media only screen and (max-width: 1199px) {
  .header .slider-nav {
    width: 960px;
  }
  .header .header-rectangles {
    width: 960px;
  }
}

@media only screen and (max-width: 991px) {
  .header-menu {
    width: 720px;
    top: 13px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  }
  .header-menu__logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 0;
  }
  .header-menu__logo img {
    width: 49px;
  }
  .header-menu__logo span {
    font-size: 10px;
    margin-left: 14px;
    width: 50px;
  }
  .header-menu__select {
    height: 25px;
    width: 25px;
    font-size: 14px;
  }
  .header-menu__select .list {
    width: 25px;
  }
  .header-menu__select .option {
    font-size: 14px;
  }
  .header-menu__search-box {
    position: relative;
    margin-right: 0;
    margin-left: 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    padding-left: 15px;
  }
  .header-menu__search-box .search-box__content {
    left: -295px;
  }
  .header-slider__slide {
    height: 480px;
    padding-top: 180px;
  }
  .header-slider__slide .slide-content {
    margin-left: 150px;
    padding-left: 32px;
    height: 175px;
    width: 433px;
  }
  .header-slider__slide .slide-content h2 {
    font-size: 40px;
  }
  .header .slider-nav {
    width: 720px;
    top: 200px;
  }
  .header .slider-nav .arrow-prev {
    margin-left: 192px;
    margin-right: 70px;
  }
  .header .mouse {
    display: none;
  }
  .header .header-rectangles {
    width: 720px;
    top: 145px;
  }
  .header .header-rectangles__cover {
    height: 300px;
  }
  .header .header-rectangles__cover .header-rectangles__block div {
    width: 10px;
    height: 10px;
  }
  .header .header-rectangles__cover .header-rectangles__block_left_top div:nth-child(1) {
    -webkit-transform: translate(234px, 0px);
    transform: translate(234px, 0px);
  }
  .header .header-rectangles__cover .header-rectangles__block_left_top div:nth-child(2) {
    display: block;
    -webkit-transform: translate(204px, 25px);
    transform: translate(204px, 25px);
  }
  .header .header-rectangles__cover .header-rectangles__block_left_bottom div:nth-child(1) {
    -webkit-transform: translate(198px, -26px);
    transform: translate(198px, -26px);
  }
  .header .header-rectangles__cover .header-rectangles__block_left_bottom div:nth-child(2) {
    -webkit-transform: translate(220px, 0px);
    transform: translate(220px, 0px);
    margin-left: 0;
  }
  .header .header-rectangles__cover .header-rectangles__block_right_top div {
    display: none;
  }
  .header .header-rectangles__cover .header-rectangles__block_right_bottom div:nth-child(1) {
    -webkit-transform: translate(-139px, -63px);
    transform: translate(-139px, -63px);
  }
  .header .header-rectangles__cover .header-rectangles__block_right_bottom div:nth-child(2) {
    -webkit-transform: translate(-129px, -30px);
    transform: translate(-129px, -30px);
  }
  .header .header-rectangles__cover .header-rectangles__block_right_bottom div:nth-child(3) {
    -webkit-transform: translate(-147px, 0);
    transform: translate(-147px, 0);
  }
}

@media only screen and (max-width: 767px) {
  .header-menu {
    width: 500px;
  }
  .header-menu__nav {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .header-menu__sekect {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .header-menu__search-box {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    padding-right: 15px;
  }
  .header-menu__search-box .search-box__content {
    left: -242px;
  }
  .header-slider__slide {
    padding-top: 140px;
  }
  .header-slider__slide .slide-content {
    margin-left: 50px;
    padding-left: 32px;
    height: 255px;
    width: 385px;
  }
  .header .slider-nav {
    width: 500px;
    top: 180px;
  }
  .header .slider-nav .arrow-prev {
    margin-left: 92px;
    margin-right: 70px;
  }
  .header .header-rectangles {
    width: 500px;
    top: 96px;
  }
  .header .header-rectangles__cover {
    height: 355px;
  }
  .header .header-rectangles__cover .header-rectangles__block_left_top div:nth-child(1) {
    -webkit-transform: translate(100px, 0px);
    transform: translate(100px, 0px);
  }
  .header .header-rectangles__cover .header-rectangles__block_left_top div:nth-child(2) {
    display: block;
    -webkit-transform: translate(67px, 25px);
    transform: translate(67px, 25px);
  }
  .header .header-rectangles__cover .header-rectangles__block_left_bottom div:nth-child(1) {
    -webkit-transform: translate(40px, -26px);
    transform: translate(40px, -26px);
  }
  .header .header-rectangles__cover .header-rectangles__block_left_bottom div:nth-child(2) {
    -webkit-transform: translate(60px, 0px);
    transform: translate(60px, 0px);
    margin-left: 0;
  }
  .header .header-rectangles__cover .header-rectangles__block_right_bottom div:nth-child(1) {
    -webkit-transform: translate(-28px, -63px);
    transform: translate(-28px, -63px);
  }
  .header .header-rectangles__cover .header-rectangles__block_right_bottom div:nth-child(2) {
    -webkit-transform: translate(-18px, -30px);
    transform: translate(-18px, -30px);
  }
  .header .header-rectangles__cover .header-rectangles__block_right_bottom div:nth-child(3) {
    -webkit-transform: translate(-35px, 0);
    transform: translate(-35px, 0);
  }
}

@media only screen and (max-width: 520px) {
  .header-menu {
    width: 290px;
  }
  .header-menu__search-box .search-box__content {
    left: -230px;
  }
  .header-slider__slide .slide-content {
    width: 215px;
    margin-left: 0;
  }
  .header .slider-nav {
    width: 290px;
    top: 160px;
  }
  .header .slider-nav .arrow-prev {
    margin-left: 43px;
    margin-right: 70px;
  }
  .header .header-rectangles {
    width: 290px;
    top: 96px;
  }
  .header .header-rectangles__cover {
    height: 355px;
  }
  .header .header-rectangles__cover .header-rectangles__block_left_bottom div:nth-child(1) {
    -webkit-transform: translate(40px, -6px);
    transform: translate(40px, -6px);
  }
  .header .header-rectangles__cover .header-rectangles__block_left_bottom div:nth-child(2) {
    display: none;
  }
}

#our-projects {
  padding-top: 95px;
  padding-bottom: 85px;
}

#our-projects .section-title {
  width: 365px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#our-projects .section-title .cover {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#our-projects .section-title .see-portfolio {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin-left: 65px;
  font-family: Acrom;
  font-size: 15px;
  font-weight: 800;
  color: #439c92;
  text-transform: uppercase;
  text-decoration: none;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

#our-projects .section-title .see-portfolio::after {
  position: absolute;
  top: 20px;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #347871;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

#our-projects .section-title .see-portfolio:hover {
  color: #347871;
}

#our-projects .section-title .see-portfolio:hover::after {
  width: 100%;
}

#our-projects .section-title .see-portfolio img {
  margin-left: 11px;
}

#our-projects .projects-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  padding: 0 15px 0 30px;
}

.section-title {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title__rectangles {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.section-title__rectangles .rectangles_darkGreen {
  width: 25px;
  height: 25px;
  background: #439c92;
}

.section-title__rectangles .rectangle-cover {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title__rectangles .rectangle-cover .rectangles_green {
  background: #8dc63f;
}

.section-title__rectangles .rectangle-cover .rectangles_green:nth-child(1) {
  width: 19px;
  height: 19px;
  margin-top: 9px;
  margin-right: 7px;
}

.section-title__rectangles .rectangle-cover .rectangles_green:nth-child(2) {
  width: 12px;
  height: 12px;
  margin-top: 12px;
  margin-right: 2px;
}

.section-title h2 {
  font-family: Acrom;
  font-size: 45px;
  font-weight: 800;
  color: #414042;
  text-transform: uppercase;
  margin-top: 24px;
  margin-left: 24px;
}

.udg-btn {
  padding: 8px 15px;
  background: #439c92;
  border-radius: 3px;
  text-decoration: none;
  font-family: Acrom;
  font-size: 13px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.udg-btn:hover {
  background: #347871;
}

.projects {
  width: 760px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.projects__item {
  width: 350px;
  height: 350px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 118px 38px 0 34px;
  margin: 15px;
  position: relative;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.projects__item h3 {
  font-family: Acrom;
  font-size: 28px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  z-index: 2;
}

.projects__item span {
  margin-top: 23px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  z-index: 2;
  display: none;
}

.projects__item .udg-btn {
  width: 115px;
  margin-top: 38px;
  -webkit-transition: all, .3s;
  transition: all, .3s;
  z-index: 2;
  border: 1px solid #439c92;
  background: #439c92;
}

.projects__item:nth-child(1) {
  background: url(../img/project-item__bg_01.jpg) no-repeat center/cover;
}

.projects__item:nth-child(2) {
  background: url(../img/project-item__bg_02.jpg) no-repeat center/cover;
}

.projects__item:nth-child(3) {
  background: url(../img/project-item__bg_03.jpg) no-repeat center/cover;
}

.projects__item:nth-child(4) {
  background: url(../img/project-item__bg_04.jpg) no-repeat center/cover;
}

.projects__item:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  padding-top: 81px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}

.projects__item:hover:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 77, 64, 0.75);
  z-index: 1;
}

.projects__item:hover h3 {
  text-decoration: underline;
  -webkit-text-decoration-color: #8dc63f;
  text-decoration-color: #8dc63f;
}

.projects__item:hover span {
  display: block;
}

.projects__item:hover .udg-btn {
  background: transparent;
  border: 1px solid #439c92;
}

.projects__item:hover .udg-btn:hover {
  background: #347871;
}

@media only screen and (max-width: 1199px) {
  #our-projects {
    padding-top: 85px;
    padding-bottom: 75px;
  }
  #our-projects .section-title {
    width: 325px;
  }
  #our-projects .projects-block {
    padding: 0 15px 0 30px;
  }
  .projects {
    width: 582px;
  }
  .projects__item {
    width: 271px;
    height: 271px;
    padding: 70px 20px 0 20px;
    margin: 10px;
  }
  .projects__item h3 {
    font-size: 26px;
  }
  .projects__item span {
    margin-top: 15px;
    font-size: 16px;
  }
  .projects__item .udg-btn {
    margin-top: 18px;
  }
  .projects__item:hover {
    padding: 30px 20px 0 20px;
  }
}

@media only screen and (max-width: 991px) {
  #our-projects {
    padding-top: 50px;
    padding-bottom: 35px;
  }
  #our-projects .section-title {
    width: 325px;
  }
  #our-projects .projects-block {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-title {
    margin-bottom: 43px;
  }
  .projects {
    width: inherit;
    margin: 0 -10px;
  }
  .projects__item {
    width: 340px;
    height: 340px;
    padding: 125px 20px 0 45px;
  }
  .projects__item h3 {
    font-size: 28px;
  }
  .projects__item span {
    margin-top: 15px;
    font-size: 16px;
  }
  .projects__item .udg-btn {
    margin-top: 38px;
  }
  .projects__item:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    padding: 125px 20px 0 45px;
  }
  .projects__item:hover:before {
    background: rgba(0, 0, 0, 0.3);
  }
  .projects__item:hover h3 {
    text-decoration: none;
  }
  .projects__item:hover span {
    display: none;
  }
  .projects__item:hover .udg-btn {
    background: #43909c;
    border: 1px solid #43909c;
  }
  .projects__item:hover .udg-btn:hover {
    background: #347871;
  }
}

@media only screen and (max-width: 767px) {
  #our-projects {
    padding-top: 25px;
    padding-bottom: 53px;
  }
  #our-projects .section-title {
    width: inherit;
  }
  #our-projects .section-title .see-portfolio {
    margin-left: 0;
  }
  .section-title {
    margin-bottom: 43px;
  }
  .section-title__rectangles .rectangles_darkGreen {
    width: 16px;
    height: 16px;
  }
  .section-title__rectangles .rectangle-cover .rectangles_green:nth-child(1) {
    width: 12px;
    height: 12px;
    margin-top: 6px;
    margin-right: 4px;
  }
  .section-title__rectangles .rectangle-cover .rectangles_green:nth-child(2) {
    width: 9px;
    height: 9px;
    margin-top: 6px;
    margin-right: 0px;
  }
  .section-title h2 {
    font-size: 26px;
    margin-top: 8px;
    margin-left: 10px;
  }
  .projects {
    width: inherit;
    margin: 0 -10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .projects__item {
    width: 350px;
    height: 350px;
    padding: 125px 20px 0 45px;
    background: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  }
  .projects__item h3 {
    font-size: 28px;
  }
  .projects__item .udg-btn {
    margin-top: 38px;
  }
  .projects__item:hover:before {
    display: none;
  }
  .projects__item:hover .udg-btn {
    background: #439c92;
    border: 1px solid #439c92;
  }
  .projects__item:hover .udg-btn:hover {
    background: #347871;
  }
}

@media only screen and (max-width: 520px) {
  .section-title {
    margin-bottom: 20px;
  }
  .projects {
    margin: 0 auto;
  }
  .projects__item {
    width: 290px;
    height: 367px;
    padding: 135px 20px 0 30px;
  }
  .projects__item h3 {
    font-size: 20px;
  }
  .projects__item .udg-btn {
    margin-top: 27px;
  }
  .projects__item:hover {
    padding: 135px 20px 0 30px;
  }
}

#contacts {
  padding-top: 64px;
  padding-bottom: 84px;
  width: 100%;
  background: #f3fafa;
}

#contacts .container {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#contacts .contact-us {
  width: 570px;
  padding-left: 30px;
}

#contacts .contact-us .section-title {
  margin-bottom: 50px;
}

#contacts .contact-us-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#contacts .contact-us-block__item {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 65px;
  margin-bottom: 40px;
}

#contacts .contact-us-block__item:last-child {
  margin-bottom: 0;
}

#contacts .contact-us-block__item img {
  margin-right: 42px;
}

#contacts .contact-us-block__item div {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#contacts .contact-us-block__item div span {
  font-size: 17px;
  font-weight: 400;
  color: #414042;
}

#contacts .contact-us-block__item a {
  font-size: 15px;
  font-weight: 400;
  color: #439c92;
  text-decoration: underline;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

#contacts .contact-us-block__item a:hover {
  color: #347871;
  font-weight: 700;
}

#contacts .write-us {
  width: 535px;
}

#contacts .write-us .section-title h2 {
  margin-left: 0;
}

#contacts .write-us form {
  width: inherit;
  margin-top: 40px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#contacts .write-us form .write-us__form-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#contacts .write-us form .write-us__form-block span {
  font-size: 14px;
  font-weight: 400;
  color: #989b9c;
  text-transform: uppercase;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  z-index: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 0;
}

#contacts .write-us form .write-us__form-block input {
  background: transparent;
  border: none;
  height: 30px;
  width: 250px;
  font-size: 17px;
  font-weight: 700;
  color: #414042;
  outline: none;
  z-index: 10;
  border-bottom: 1px solid #989b9c;
}

#contacts .write-us form .write-us__form-block input:focus {
  border-bottom: 2px solid #439c92;
}

#contacts .write-us form .write-us__form-block_area {
  margin-top: 10px;
}

#contacts .write-us form .write-us__form-block_area span {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

#contacts .write-us form .write-us__form-block_area textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #989b9c;
  outline: none;
  width: 530px;
}

#contacts .write-us form .write-us__form-block_area textarea:focus {
  border-bottom: 2px solid #439c92;
}

#contacts .write-us form .write-us__input_span-up span {
  margin-top: 5.5px;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  font-size: 10px;
}

#contacts .udg-btn {
  padding: 18px 21px;
  margin-top: 65px;
  cursor: pointer;
}

@media only screen and (max-width: 1199px) {
  #contacts {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  #contacts .contact-us {
    width: 425px;
  }
  #contacts .write-us .section-title h2 {
    margin-left: 145px;
  }
  #contacts .udg-btn {
    margin: 0 auto;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 991px) {
  #contacts {
    padding-top: 69px;
    padding-bottom: 50px;
  }
  #contacts .container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #contacts .contact-us {
    width: 375px;
    padding-left: 0px;
  }
  #contacts .contact-us .section-title {
    margin-bottom: 45px;
  }
  #contacts .contact-us-block__item {
    margin-left: 65px;
    margin-bottom: 40px;
  }
  #contacts .contact-us-block__item img {
    margin-right: 37px;
  }
  #contacts .contact-us-block__item a {
    font-size: 17px;
    font-weight: 700;
  }
  #contacts .contact-us-block__item:nth-child(2) div span {
    font-weight: 700;
  }
  #contacts .write-us {
    width: 535px;
    margin-top: 50px;
  }
  #contacts .write-us .section-title h2 {
    margin: 0 auto;
  }
  #contacts .write-us form {
    margin-top: 50px;
  }
  #contacts .write-us form .write-us__form-block span {
    font-size: 14px;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  #contacts .write-us form .write-us__form-block input {
    height: 30px;
    width: 250px;
    font-size: 17px;
  }
  #contacts .write-us form .write-us__form-block_area span {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  #contacts .write-us form .write-us__form-block_area textarea {
    width: 530px;
  }
  #contacts .write-us form .write-us__input_span-up span {
    margin-top: 5.5px;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    font-size: 10px;
  }
  #contacts .udg-btn {
    margin-left: 0;
    margin-top: 60px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 767px) {
  #contacts {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  #contacts .contact-us {
    width: 230px;
    padding-left: 0px;
  }
  #contacts .contact-us .section-title {
    margin-bottom: 30px;
  }
  #contacts .contact-us-block__item {
    margin-left: 0px;
    margin-bottom: 40px;
  }
  #contacts .contact-us-block__item img {
    margin-right: 20px;
  }
  #contacts .write-us {
    width: 290px;
    margin-top: 25px;
  }
  #contacts .write-us .section-title h2 {
    margin: 0 auto;
  }
  #contacts .write-us form {
    margin-top: 35px;
  }
  #contacts .write-us form .write-us__form-block input {
    width: 290px;
    font-size: 17px;
  }
  #contacts .write-us form .write-us__form-block_area textarea {
    width: 290px;
  }
  #contacts .udg-btn {
    width: 290px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 0;
    margin-top: 20px;
    cursor: pointer;
  }
}

.footer {
  width: 100%;
  height: 54px;
  padding: 0 25px;
  background: #414042;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .copyright {
  font-size: 14px;
  font-weight: 300;
  color: #d2d2d3;
}

.footer .copyright .tablet {
  display: none;
}

.footer-socials {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-socials a {
  margin: 0 12px;
  color: #859997;
  text-decoration: none;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.footer-socials a i {
  font-size: 24px;
}

.footer-socials a:hover {
  color: #bfd730;
}

.footer .author {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .author span {
  font-family: Acrom;
  font-size: 12px;
  font-weight: 300;
  color: #c2c2c2;
}

.footer .author a {
  font-family: Acrom;
  font-size: 12px;
  font-weight: 700;
  color: #c2c2c2;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 12px;
  text-decoration: none;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.footer .author a:hover {
  color: #bfd730;
}

.footer .author .circle_green {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #87c336;
  margin-right: 4px;
  margin-bottom: 2px;
}

.footer .author .circle_blue {
  margin-bottom: 2px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #b2d4d0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer .author .circle_blue div {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background: #414042;
}

@media only screen and (max-width: 991px) {
  .footer {
    height: 53px;
    padding: 0 15px;
  }
  .footer .copyright {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .copyright .tablet {
    display: block;
    margin-left: 5px;
  }
  .footer .copyright .desctop {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    height: auto;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer * {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer .copyright {
    width: 100%;
    height: 53px;
    background: #439c92;
    color: #fff;
  }
  .footer-socials {
    width: 100%;
    height: 63px;
    background: #fff;
  }
  .footer-socials a:hover {
    color: #347871;
  }
  .footer .author {
    width: 100%;
    height: 55px;
  }
}
