// to compile...

$lightGreen: #8dc63f;
$darkGreen: #439c92;


@import "./_components/_acrom.scss";
@import "./_components/_roboto.scss";
//@import "./_components/_nav-bar.scss";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: Roboto, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width : 1199px) {
  .container {
    width: 960px;
  }
}

@media only screen and (max-width : 991px) {
  .container {
    width: 720px;
  }
}

@media only screen and (max-width : 767px) {
  .container {
    width: 540px;
  }
}

@media only screen and (max-width : 567px) {
  .container {
    width: 290px;
  }
}

.header {
  position: relative;
  width: 100%;

  &-slider {
    outline: none;
    width: 100%;

    &__slide {
      outline: none;
      width: 100%;
      height: 800px;
      padding-top: 275px;
      background: url(../img/slider__bg.jpg) no-repeat center / cover;

      .slide-content {
        margin-left: 179px;
        padding-left: 55px;
        height: 213px;
        width: 750px;
        border-left: 6px solid $lightGreen;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;

        h2 {
          font-family: Acrom;
          font-size: 65px;
          font-weight: 800;
          color: #fff;
          text-transform: uppercase;
        }
      }
    }
  }

  .slider-nav {
    z-index: 5;
    width: 1170px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50%;
    top: 297px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

    img {
      cursor: pointer;
      height: 7px;
    }

    .arrow-prev {
      margin-left: 260px;
      margin-right: 70px;
    }

    .slider-count {
      -webkit-transform: translate(-78px, -25px);
              transform: translate(-78px, -25px);
      font-family: Acrom;

      p {
        font-size: 14px;
        font-weight: 300;
        color: #fff;

        span {
          font-size: 23px;
        }

        #current {
          color: $lightGreen;
        }
      }
    }
  }

  .mouse {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 40px;

    &:hover {
      -webkit-filter: brightness(-1000%);
              filter: brightness(-1000%);
    }
  }

  .header-rectangles {
    width: 1170px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 172px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

    &__cover {
      height: 540px;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;

      .header-rectangles__block {
        position: relative;

        div {
          position: absolute;
          width: 18px;
          height: 18px;
        }

        .rectangles_green {
          background: $lightGreen;
        }

        .rectangles_white {
          background: #fff;
        }

        &_left_top {
          div:nth-child(1) {
            -webkit-transform: translate(85px, 25px);
                    transform: translate(85px, 25px);
          }
          div:nth-child(2) {
            display: none;
          }
        }

        &_left_bottom {
          div:nth-child(1) {
            -webkit-transform: translate(16px, -26px);
                    transform: translate(16px, -26px);
          }
          div:nth-child(2) {
            margin-left: 35px;
          }
        }

        &_right_top {
          div {
            -webkit-transform: translateX(-33px);
                    transform: translateX(-33px);
          }
        }

        &_right_bottom {
          div:nth-child(1) {
            -webkit-transform: translate(-33px, -63px);
                    transform: translate(-33px, -63px);
          }
          div:nth-child(2) {
            -webkit-transform: translate(-60px, -30px);
                    transform: translate(-60px, -30px);
          }
          div:nth-child(3) {
            -webkit-transform: translate(-60px, 0);
                    transform: translate(-60px, 0);
          }
        }
      }
    }
  }
}

.header-menu {
  position: absolute;
  z-index: 7;
}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}
