.header-menu__nav {
  .toggler-icon {
    display: none;
  }

  .nav-bar {
    margin: 0;
    padding: 0;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .nav-item {
      position: relative;
      list-style: none;
      margin-right: 40px;

      &::after {
        margin: 0 auto;
        -webkit-transform: translateY(-27px);
                transform: translateY(-27px);
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: $lime;
        -webkit-transition: all, .3s;
        transition: all, .3s;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }

      .nav-link {
        padding: 0;
        text-decoration: none;
        font-size: 17px;
        font-weight: 300;
        color: #ecf0e8;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .header-menu__nav {
    .nav-bar {
      .nav-item {
        margin-right: 30px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .header-menu__nav {
    .nav-bar {
      .nav-item {
        margin-right: 25px;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .header-menu__nav {
    .toggler-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      cursor: pointer;

      div {
        width: 20px;
        height: 2px;
        background: #fff;
        margin-top: 4px;
        -webkit-transition: all, 0.7s;
        transition: all, 0.7s;

        &:first-child {
          margin-top: 0;
        }

        &:nth-child(2) {
          background: $lime;
        }
      }
    }

    .toggler-icon_close {
      div {
        width: 20px;
        height: 2px;
        background: #fff;
        margin-top: 4px;

        &:first-child {
          margin-top: 0;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          z-index: 1;
        }

        &:nth-child(2) {
          margin-top: -2px;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          background: $lime;
          z-index: 0;
        }

        &:last-child {
          display: none;
        }
      }
    }

    .nav-bar {
      display: none;
      position: absolute;
      top: 120%;
      left: 0;
      width: 100%;
      z-index: 10;

      .nav-item {
        margin: 0 auto;
        margin-top: 36px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;

        &:hover {
          &::after {
            width: 0;
          }
        }

        .nav-link {
          font-family: Acrom;
          font-size: 20px;
          font-weight: 800;
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          -webkit-transition: all, .3s;
          transition: all, .3s;

          &:hover {
            color: $lime;
          }
        }
      }
    }
  }
}

.nav-bar_show {
  display: block !important;
}
